<div style="align-content: center">
  <label>alpha:
    <input [(ngModel)]="alpha" type="text" name="alpha" align="center"/>
  </label><br/>
  <label>beta:
    <input [(ngModel)]="beta" type="text" name="beta"/>
  </label><br/>
  <label>d1:
    <input [(ngModel)]="d1" type="text" name="d1"/>
  </label><br/>
  <label>d2:
    <input [(ngModel)]="d2" type="text" name="d2"/>
  </label><br/>
  <label>delta1:
    <input [(ngModel)]="delta1" type="text" name="delta1"/>
  </label><br/>
  <label>delta2:
    <input [(ngModel)]="delta2" type="text" name="delta2"/>
  </label><br/>
  <label>eps:
    <input [(ngModel)]="eps" type="text" name="eps"/>
  </label><br/>
  <label>x0:
    <input [(ngModel)]="x0" type="text" name="x0"/>
  </label><br/>

  <button (click)="onSubmit()">Calculate</button>
</div>

<label>Result:</label><p>{{result}}</p>
